<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Stories</title>
  </head>
  <body>
    <!-- CONTAINER -->
    <section class="container-2">
      <div class="header">
        <a href="../index.html"> <h1>ANDOSCOPIE</h1></a>
        <h4><span>By</span> El Sueño</h4>
      </div>
      <div class="grid-list">
        <!-- CARD -->
        <div class="card card-1">
          <h1>01. ADJOUA & KOFFI</h1>
          <p>
            2023 s'annonce une année remplie de challenges !
            <br /><br />
            Ainsi, quoi de mieux pour commencer que de se souhaiter nos
            meilleurs vœux ?
            <br /><br />
            Inspiré par ma première œuvre publique ("Amour Estudiantin"), Adjoua
            & Koffi n'est pas en tant que tel l'introduction du projet, mais un
            rappel que cette année doit être pour nous une année
            d'accomplissement.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-2">
          <h1>02. MOIINTRODUCTION</h1>
          <p>
            À la base j'avais une toute autre vision pour ce morceau, mais je
            pense que j'ai été le seul à l'avoir ressenti.
            <br /><br />
            Aussi ce problème m'a appris qu'on ne peut pas forcer quelqu'un à
            comprendre votre point de vue. <br /><br />
            Ce qui a eu du bon car ça m'a permis de me rappeler mes objectifs et
            de ce pourquoi je crée et fait de l'art !
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-3">
          <h1>03. FOI EN QUI OU EN QUOI?</h1>
          <p>
            Longtemps je me suis questionné sur la religion et la foi.
            <br /><br />

            D'où nous viens cette obsession à vouloir avoir un "maître" ou une
            "entité supérieure"?
            <br /><br />
            Au fond je n'ai toujours pas la réponse.
            <br /><br />
            Mais je retrace dans cette composition, les différentes phases
            religieuses qu'ont traversé notre continent.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-4">
          <h1>04. MALELOO NAMOUZINGUI</h1>
          <p>
            Arafat est mort ! C'est un fait. <br /><br />
            Je n'ai jamais été très coupé décalé. <br /><br />
            J'ai juste senti que j'avais un devoir de mémoire envers lui.
            <br /><br />
            Par contre cette composition est habité de l'esprit d'un homme, lui
            très vivant. <br /><br />
            À ta santé la Dibasse.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-5">
          <h1>05. ROCKSKIT WISHED</h1>
          <p>
            S'il y a une fille qui m'aime sur cette terre, c'est bien Rockstar.
            <br />
            <br />

            Le hic c'est que je passe beaucoup trop de temps loin d'elle et
            c'est triste mais plus on avance, plus elle s'affaiblit.
            <br /><br />
            Prenez soin de votre famille et que jamais vos occupations
            professionnel ne prenne le dessus sur vos proches. Leurs prières
            sont ce qui vous maintient en vie.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-6">
          <h1>06. AYA NAKAMURA</h1>
          <p>
            À la base j'avais Tayc en tête quand j'ai produit ce titre.
            <br /><br />
            Ensuite je me suis dit "En vrai Aya elle pourrait dead ça de ouf".
            <br /><br />
            Du coup j'ai pas forcé pour le nom du titre.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-7">
          <h1>07. AVEC AMOUR</h1>
          <p>
            C'était juste le feeling.
            <br /><br />
            C'était le mood dans lequel je produisais ce son.
            <br /><br />
            3h du matin, dans mon lit en train de penser à pourquoi les gens
            souffre en amour.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-8">
          <h1>08. GLISSEMENT</h1>
          <p>
            Déjà vous vous êtes jamais demandé c'était quoi la barrière entre
            les genres musicaux?
            <br /><br />
            Les instruments? Les notes? Les paroles alors? Je pense que ce qui
            est magique dans l'art c'est de pouvoir passer d'un sentiment à
            l'autre via un seul canal J'aime bien cette prod.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-9">
          <h1>09. MAABOUO BLUES</h1>
          <p>
            Askip le zouglou est Bété et ma daronne est de Mabouo.
            <br /><br />
            J'ai longtemps réfléchi à comment recréer cette ambiance et ces
            percussions uniques.
            <br /><br />
            C'est ma première fois de produire du Zouglou et merde c'était grave
            fun !
            <br /><br />
            Il devait y avoir une voix dessus, mais finalement il n'a pas eu
            d'inspiration.
            <br /><br />
            Y'a ma daronne qui se moquais de moi quand j'avais fini parce que je
            sais pas dansé et je passais mon temps à danser sur ma prod.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-10">
          <h1>10. MP.D.S.G.P. SKIIIIIT</h1>
          <p>
            J'ai envoyé la prod du skit,
            <br /><br />
            Il m'a dit envoie moi une autre plus douce j'ai une idée,
            <br /><br />
            J'ai reçu cette œuvre émouvante et très intime.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-11">
          <h1>11. JE PENSE À TOI</h1>
          <p>
            Depuis 2019 je réfléchis à comment j'allais produire ce titre.
            <br /><br />
            Le sample était là, mais l'énergie et la vision n'y était pas.
            <br /><br />
            Il a fallu que je faille perdre celle que j'aime pour me motiver.
            <br /><br />
            Merci à Amadou et Mariam pour cette masterpiece.
            <br /><br />
            « Je pense à toi mon amour ma bien-aimée... »
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-12">
          <h1>12. LA PAIX</h1>
          <p>
            Ou encore "aundʒɥɛ" dans la langue d'Houphouët, Je pense
            qu'effectivement la paix n'est pas un vain mot, C'est une utopie
            chronophage et un rêve sublime.
            <br /><br />
            C'est un élément qui varie d'un principe à un autre.
            <br /><br />
            Je trouve qu'il y a une certaine paix dans les conflits.
            <br /><br />
            (Mais pas dans ceux armés)
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-13">
          <h1>13. SOYONS FRATERNEL(L)ES</h1>
          <p>
            Ça se dit "ʃimɑ̃pu" dans les régions où ma daronne a fréquenté. Une
            belle représentation de ce qu'elle essaie de nous inculquer à mes
            frères et moi. Et puis oui oui, c'est effectivement ça.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-14">
          <h1>14. ¥¥¥NTERLUDE</h1>
          <p>On attend toujours le P.A.L.G.</p>
        </div>
        <!-- CARD -->
        <div class="card card-15">
          <h1>15. MONDAIN</h1>
          <p>
            L'herbe est plus verte ailleurs,
            <br /><br />
            très sincèrement Aller à la rencontre de l'inconnu et vivre des
            expériences sociales déroutantes.
            <br /><br />
            Sortir des sentiers battus et aller découvrir ce monde qui nous est
            offert est un de mes rêves.
            <br /><br />
            Y'en a marre de tourner en rond à Abidjan.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-16">
          <h1>16. SPIRITISME</h1>
          <p>
            Un jour,
            <br /><br />
            moi et Rockstar iront à l'église ensemble et lèveront les mains vers
            le ciel,
            <br /><br />
            Sirice et moi parleront en langue, <br><br> Mamourou et moi prendront les
            ablutions après la rupture du jeune,
            <br /><br />
            Mais en attendant je préfère les choses de la chaire.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-17">
          <h1>17. BROOOSKIIITTT TRANSMISSION</h1>
          <p>
            Si on se ressemblait on aurait été de piètres amis.
            <br /><br />
            Je t'aime aussi.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-18">
          <h1>18. SPACE CAKE</h1>
          <p>
            À ne surtout pas écouter en ayant consommé cette viennoiserie.
            <br /><br />
            Je pense que j'étais dans un mood Pharell lors de la composition.
            <br /><br />
            Vous savez, "Neon Guts"
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-19">
          <h1>19. ESPRIT TRANQUILLE</h1>
          <p>
            “Wanted you to know” Selah Sue ft Damso. <br /><br />
            C'est tout.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-20">
          <h1>20. SCHKIIIIIIT</h1>
          <p>Mon Executive Producer nous offre sa vision de la vie.</p>
        </div>
        <!-- CARD -->
        <div class="card card-21">
          <h1>21. PIÈGE</h1>
          <p>
            Je pense c'est le son le moins trap que j'ai composé de toute ma carrière!
          

          </p>
        </div>
        <!-- CARD -->
        <div class="card card-22">
          <h1>22. MÈREVEILLEUX (V._C_H)</h1>
          <p>
            Les 808 signatures de CH.
            <br /><br />
            Je pense que je vais sortir la version original dans la version
            deluxe.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-23">
          <h1>23. LONER FREESTYLE (CHOPPED AND SCREWED)</h1>
          <p>
            J'suis en couple avec un celibataire, Si on s'aime c'est comme deux
            célib à terre..." Loner Freestyle, Charles Henry ft Diane &copy
            Loner Publishing, 2022.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-24">
          <h1>24. REP GROS CAMION</h1>
          <p>
            Tout est dans le titre. <br /><br />
            On t'oubliera jamais.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-25">
          <h1>25. ON EST SI BEAU ENSEMBLE</h1>
          <p>
            Depuis le jour où j'ai entendu ce son de MJ, je n'ai eu qu'une seule
            chose en tête :
            <br /><br />
            LE SAMPLER !
            <br /><br />
            Au moins maintenant je sais ce que je veux :
            <br /><br />
            C'est avec toi que je veux être et personne d'autre.
          </p>
        </div>
        <!-- CARD -->
        <div class="card card-26">
          <h1>26. MERCI À VOUS</h1>
          <p>
            Introspection externe de ma 1ère fan.
          </p>
        </div>
      </div>
      <div class="link">
        <a
          href="https://soundcloud.com/josue-ando-984166669/sets/andoscopie?si=b15f1c6be9814348a41216fc9c16a2eb&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing"
          ><button>Ecouter</button></a
        >
      </div>
      <div class="footer">
        <h5>
          <span>Produced By:</span>El Sueño<span>|</span>
          <br />
          <span>Executif Producer:</span>Charles Henry<span>|</span>
          <br />
          <span>Directeur Artistique:</span>Yannick Kouakou<span>|</span>
        </h5>
        <h6>@copyright 2023 tous droits reservés</h6>
      </div>
    </section>
  </body>
</html>
